html, body {
	width:335px;
	height:500px;
}
.dataSpot {
	width:auto;
	height:auto;
}
textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right:auto;
	margin-left:auto;
}
.title {
	text-align: center;
	margin-right:auto;
	margin-left:auto;
}
.row {
	margin-right:auto;
	margin-left:auto;
}